@keyframes myfirst
{	0%{
		opacity: 0;
	}
	20%{
		opacity: 0.3;
	}
	50%{
		opacity: 1;
	}
	60%{
		opacity: 2;
	}
	80%{
		opacity: 0.3;
	}
	100%{
		opacity: 0;
	}}

@-moz-keyframes myfirst 
{	0%{
		opacity: 0;
	}
	20%{
		opacity: 0.3;
	}
	50%{
		opacity: 1;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.3;
	}
	100%{
		opacity: 0;
	}}

@-webkit-keyframes myfirst
{	0%{
		opacity: 0;
	}
	20%{
		opacity: 0.3;
	}
	50%{
		opacity: 1;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.3;
	}
	100%{
		opacity: 0;
	}}

@-o-keyframes myfirst
{	0%{
		opacity: 0;
	}
	20%{
		opacity: 0.3;
	}
	50%{
		opacity: 1;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.3;
	}
	100%{
		opacity: 0;
	}}

@keyframes mytwo
{	0%{
			opacity: 0.3;
	}
	20%{
		opacity: 0.6;
	}
	50%{
		opacity: 1;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.6;
	}
	100%{
		opacity: 0.3;
	}}

@-moz-keyframes mytwo 
{	0%{
			opacity: 0.3;
	}
	20%{
		opacity: 0.6;
	}
	50%{
		opacity: 1;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.6;
	}
	100%{
		opacity: 0.3;
	}}

@-webkit-keyframes mytwo
{	0%{
			opacity: 0.3;
	}
	20%{
		opacity: 0.6;
	}
	50%{
		opacity: 1;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.6;
	}
	100%{
		opacity: 0.3;
	}}

@-o-keyframes mytwo
{	0%{
			opacity: 0.3;
	}
	20%{
		opacity: 0.6;
	}
	50%{
		opacity: 1;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.6;
	}
	100%{
		opacity: 0.3;
	}}
	@keyframes flash
{	0%{
	opacity: 1;
		left: 15%;
	}
	100%{
		left: 70%;
	}}

@-moz-keyframes flash 
{	0%{
		opacity: 1;
		left: 15%;
	}
	100%{
		left: 70%;
	}}

@-webkit-keyframes flash
{	0%{
	opacity: 1;
		left: 15%;
	}
	100%{
		left: 70%;
	}}

@-o-keyframes flash
{	0%{
	opacity: 1;
		left: 15%;
	}
	100%{
		left: 70%;
	}}
	
	
	@keyframes flash2
{	0%{
		opacity: 1;
		left: 10%;
	}
	100%{
		left: 80%;
	}}

@-moz-keyframes flash2 
{	0%{
		opacity: 1;
		left: 10%;
	}
	100%{
		left: 80%;
	}}

@-webkit-keyframes flash2
{	0%{
		opacity: 1;
		left: 10%;
	}
	100%{
		left: 80%;
	}}

@-o-keyframes flash2
{	0%{
		opacity: 1;
		left: 10%;
	}
	100%{
		left: 80%;
	}}
		@keyframes faga
{	0%{
	opacity: 0;
		
	}
	20%{
		opacity: 0.4;
	}
	40%{
		opacity: 0.8;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.8;
	}
	100%{
	opacity: 0.2;
	}}

@-moz-keyframes faga 
{	0%{
	opacity: 0;
		
	}
	20%{
		opacity: 0.4;
	}
	40%{
		opacity: 0.8;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.8;
	}
	100%{
	opacity: 0.2;
	}}

@-webkit-keyframes faga
{	0%{
	opacity: 0;
		
	}
	20%{
		opacity: 0.4;
	}
	40%{
		opacity: 0.8;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.8;
	}
	100%{
	opacity: 0.2;
	}}

@-o-keyframes faga
{	0%{
	opacity: 0;
		
	}
	20%{
		opacity: 0.4;
	}
	40%{
		opacity: 0.8;
	}
	60%{
		opacity: 1;
	}
	80%{
		opacity: 0.8;
	}
	100%{
	opacity: 0.2;
	}}
			@keyframes word
{	0%{
		-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
		
	}
	
	50%{
		-moz-transform:scale(0.75,0.75);  
  -webkit-transform:scale(0.75,0.75);  
  -o-transform:scale(0.75,0.75);  
	}
	100%{
	-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
	}}

@-moz-keyframes word 
{	0%{
		-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
		
	}
	
	50%{
		-moz-transform:scale(0.75,0.75);  
  -webkit-transform:scale(0.75,0.75);  
  -o-transform:scale(0.75,0.75);  
	}
	100%{
	-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
	}}

@-webkit-keyframes word
{	0%{
		-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
		
	}
	
	50%{
		-moz-transform:scale(0.75,0.75);  
  -webkit-transform:scale(0.75,0.75);  
  -o-transform:scale(0.75,0.75);  
	}
	100%{
	-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
	}}

@-o-keyframes word
{	0%{
		-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
		
	}
	
	50%{
		-moz-transform:scale(0.75,0.75);  
  -webkit-transform:scale(0.75,0.75);  
  -o-transform:scale(0.75,0.75);  
	}
	100%{
	-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
	}}


@keyframes word5
{	0%{
		-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
		
	}
	
	50%{
		-moz-transform:scale(0.85,0.75);  
  -webkit-transform:scale(0.85,0.75);  
  -o-transform:scale(0.85,0.75);  
	}
	100%{
	-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
	}}

@-moz-keyframes word5
{	0%{
		-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
		
	}
	
	50%{
		-moz-transform:scale(0.85,0.75);  
  -webkit-transform:scale(0.85,0.75);  
  -o-transform:scale(0.85,0.75);  
	}
	100%{
	-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
	}}

@-webkit-keyframes word5
{	0%{
		-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
		
	}
	
	50%{
		-moz-transform:scale(0.85,0.75);  
  -webkit-transform:scale(0.85,0.75);  
  -o-transform:scale(0.85,0.75);  
	}
	100%{
	-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
	}}

@-o-keyframes word5
{	0%{
		-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
		
	}
	
	50%{
		-moz-transform:scale(0.85,0.75);  
  -webkit-transform:scale(0.85,0.75);  
  -o-transform:scale(0.85,0.75);  
	}
	100%{
	-moz-transform:scale(1,1);  
  -webkit-transform:scale(1,1);  
  -o-transform:scale(1,1);  
	}}
	 


	@keyframes flash3
{	0%{
		left: 10%;
	}
	100%{
		left: 100%;
	}}

@-moz-keyframes flash3
{	0%{
		
		left: 10%;
	}
	100%{
		left: 100%;
	}}

@-webkit-keyframes flash3
{	0%{
		left: 10%;
	}
	100%{
		left: 100%;
		
	}}

@-o-keyframes flash3
{	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}}
	

	@keyframes flash4
{	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}}

@-moz-keyframes flash4
{	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}}

@-webkit-keyframes flash4
{	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}}

@-o-keyframes flash4
{	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}}
	